@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ffc400 1.84%, #242f9f 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.focus-outline:focus {
  outline: 2px solid blue; /* Customize the outline color and style */
}

.bg__gradient{
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 13% 36%, rgba(4, 44, 84, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 13% 36%, rgba(4, 44, 84, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 13% 36%, rgba(4, 44, 84, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 13% 36%, rgba(4, 44, 84, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 13% 36%, rgba(4, 44, 84, 1) 0%, rgba(4, 12, 24, 1) 100%);
}
  


.text__gradient{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent ;
}

html {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.padding {
  padding: 2rem 6rem;
}

.padding__x {
  padding: 0 6rem;
}

/* .about__bg{
  background: url("../../public/headoffice.jpg");

} */


.scale-up-hor-center {
  
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.rotate-90-ccw {
  -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.scale-up-center{
  transition: 0.5s ease-in-out;
}
.scale-up-center:hover {
  transition: 0.5s ease-in-out ;
  transition-duration: 0.5s;
  transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
  -webkit-transform: scale(1.07);
}

.letter__bg{
  background-image: url('../../../public/letterbg.avif');

}


@media screen and (max-width: 1060px) {
  .padding {
    padding: 4rem;
  }
  .padding__x {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .padding {
    padding: 4rem 2rem;
  }
  .padding__x {
    padding: 0 1rem;
  }
  .scale-up-center:hover{
    transform: scale(1);
  }
}




/* #242f9f --shineway blue */
/* #fff404 --shineway yellow*/